@{
  Layout = "_Layout";
}

@model Shelter.Models.Animal

<h4>Add a new task</h4>
@using (Html.BeginForm())
{
  @Html.Label("Animal Name: ")
  @Html.TextBoxFor(model => model.Name)

  @Html.Label("Animal Type: ")
  @Html.TextBoxFor(model => model.AnimalType)

  @Html.Label("Animal Gender: ")
  @Html.TextBoxFor(model => model.Gender)

  @Html.TextBoxFor(model => model.DateOfAdmit, new { @class = "form-control", @type = "date",placeholder = "Date of Admittance" })
  
  @Html.Label("Animal Breed:")
  @Html.TextBoxFor(model => model.Breed)
  <input type="submit" value="Add Animal"/>

}
<p>@Html.ActionLink("Show Animals", "Index")</p>
<p>@Html.ActionLink("Back To Animals", "Index", "Animal")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>